includes:
    # needs to be removed after https://github.com/ekino/phpstan-banned-code/pull/23
    - phpstan-banned-code.tmp.neon
    - %rootDir%/../../phpstan/phpstan-deprecation-rules/rules.neon
    - %rootDir%/../../phpstan/phpstan-mockery/extension.neon
    - %rootDir%/../../phpstan/phpstan-phpunit/extension.neon
    - %rootDir%/../../phpstan/phpstan-phpunit/rules.neon
    - %rootDir%/../../phpstan/phpstan-strict-rules/rules.neon
    - %rootDir%/../../phpstan/phpstan/conf/bleedingEdge.neon
    - %rootDir%/../../thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon

services:
    -
        class: SlamPhpStan\ClassNotationRule
        tags:
            - phpstan.rules.rule
    -
        class: SlamPhpStan\GotoRule
        tags:
            - phpstan.rules.rule
    -
        class: SlamPhpStan\PhpUnitFqcnAnnotationRule
        tags:
            - phpstan.rules.rule
    -
        class: SlamPhpStan\StringToClassRule
        tags:
            - phpstan.rules.rule
    -
        class: SlamPhpStan\UnusedVariableRule
        tags:
            - phpstan.rules.rule
    -
        class: SlamPhpStan\MissingClosureParameterTypehintRule
        tags:
            - phpstan.rules.rule

parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true

    excludes_analyse:
        - vendor
        - Tests/Fixture

    banned_code:
        # enable detection of `use Tests\Foo\Bar` in a non-test file
        use_from_tests: true
